USE [master]
GO
/****** Object:  Database [BEC]    Script Date: 09/10/2014 21:33:52 ******/
CREATE DATABASE [BEC] ON  PRIMARY 
( NAME = N'BEC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\BEC.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BEC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\BEC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BEC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BEC]
GO
/****** Object:  Table [dbo].[User_Rank]    Script Date: 09/10/2014 21:33:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Rank](
	[User_RankID] [int] NOT NULL,
	[User_RankName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_User_Rank] PRIMARY KEY CLUSTERED 
(
	[User_RankID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[User_Rank] ([User_RankID], [User_RankName]) VALUES (1, N'Nông Dân')
INSERT [dbo].[User_Rank] ([User_RankID], [User_RankName]) VALUES (2, N'Địa Chủ')
INSERT [dbo].[User_Rank] ([User_RankID], [User_RankName]) VALUES (3, N'Phú Nông')
/****** Object:  Table [dbo].[User_Type]    Script Date: 09/10/2014 21:33:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Type](
	[User_TypeID] [int] NOT NULL,
	[User_NameType] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_User_Type] PRIMARY KEY CLUSTERED 
(
	[User_TypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[User_Type] ([User_TypeID], [User_NameType]) VALUES (1, N'Super Admin')
INSERT [dbo].[User_Type] ([User_TypeID], [User_NameType]) VALUES (2, N'Admin')
INSERT [dbo].[User_Type] ([User_TypeID], [User_NameType]) VALUES (3, N'Khachhang')
/****** Object:  StoredProcedure [dbo].[User_Rank_SelectByID]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[User_Rank_SelectByID]
@User_RankID Int
as
Select * from User_Rank
 Where  ([User_RankID]= @User_RankID)
GO
/****** Object:  StoredProcedure [dbo].[User_Rank_SelectAll]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[User_Rank_SelectAll]
as
Select * from User_Rank
GO
/****** Object:  StoredProcedure [dbo].[User_Rank_Delete]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[User_Rank_Delete]
@User_RankID Int
as
Delete User_Rank
 Where  ([User_RankID]= @User_RankID)
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_TypeID] [int] NOT NULL,
	[User_RankID] [int] NOT NULL,
	[User_FullName] [nvarchar](max) NULL,
	[User_Birthday] [date] NULL,
	[User_Gender] [int] NULL,
	[User_UserName] [nvarchar](max) NULL,
	[User_PassWord] [nvarchar](max) NULL,
	[User_Address] [nvarchar](max) NULL,
	[User_Xa] [nvarchar](max) NULL,
	[User_Phuong] [nvarchar](max) NULL,
	[User_ThanhPho] [nvarchar](max) NULL,
	[User_Truong] [nvarchar](max) NULL,
	[User_Lop] [nvarchar](max) NULL,
	[User_Email] [nvarchar](max) NULL,
	[User_Phone] [nvarchar](50) NULL,
	[User_Image] [nvarchar](50) NULL,
	[User_RegisterTime] [datetime] NULL,
	[User_Gold] [int] NULL,
	[User_Money] [int] NULL,
	[User_Gift] [nchar](10) NULL,
	[User_Active] [nvarchar](100) NULL,
	[User_Status] [bit] NULL,
	[User_LastEdit] [datetime] NULL,
	[User_LastLogin] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  StoredProcedure [dbo].[User_Type_SelectByID]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[User_Type_SelectByID]
@User_TypeID Int
as
Select * from User_Type
 Where  ([User_TypeID]= @User_TypeID)
GO
/****** Object:  StoredProcedure [dbo].[User_Type_SelectAll]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[User_Type_SelectAll]
as
Select * from User_Type
GO
/****** Object:  StoredProcedure [dbo].[User_Type_Delete]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[User_Type_Delete]
@User_TypeID Int
as
Delete User_Type
 Where  ([User_TypeID]= @User_TypeID)
GO
/****** Object:  StoredProcedure [dbo].[Users_UpdateLastLogin]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Users_UpdateLastLogin]
@User_ID int
As begin
	Update Users set User_LastLogin = GETDATE() where USER_ID = @User_ID
end
GO
/****** Object:  StoredProcedure [dbo].[Users_UpdateInfo]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Users_UpdateInfo]
(
		@User_ID int,
		@User_FullName nvarchar(max),
		@User_Birthday date,
		@User_Gender int,
		@User_PassWord nvarchar(max),
		@User_Address nvarchar(max),
		@User_Xa nvarchar(max),
		@User_Phuong nvarchar(max),
		@User_ThanhPho nvarchar(max),
		@User_Truong nvarchar(max),
		@User_Lop nvarchar(max),
		@User_Email nvarchar(max),
		@User_Phone nvarchar(50)
)
AS
Begin
UPDATE BEC.dbo.Users
   SET 
		User_FullName = @User_FullName
	    ,User_Birthday = @User_Birthday
		,User_Gender = @User_Gender
		,User_PassWord = @User_PassWord
		,User_Address = @User_Address
		,User_Xa = @User_Xa
		,User_Phuong = @User_Phuong
		,User_ThanhPho = @User_ThanhPho 
		,User_Truong = @User_Truong
		,User_Lop = @User_Lop
		,User_Email = @User_Email
		,User_Phone = @User_Phone
		,User_LastEdit = GETDATE()
	Where USER_ID = @User_ID
END
GO
/****** Object:  StoredProcedure [dbo].[Users_UpdateGold]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Users_UpdateGold]
@User_ID int
AS
BEGIN
	declare @gold int
	set @gold = (select User_Gold from Users where User_ID= @User_ID)
	UPDATE Users
	SET User_Gold = @gold + 1000
	where User_ID= @User_ID
END
GO
/****** Object:  StoredProcedure [dbo].[Users_SelectByID]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
CREATE PROCEDURE [dbo].[Users_SelectByID]
@User_ID Int
as
SELECT     dbo.Users.*, dbo.User_Type.User_NameType, dbo.User_Rank.User_RankName
FROM         dbo.Users INNER JOIN
                      dbo.User_Type ON dbo.Users.User_TypeID = dbo.User_Type.User_TypeID INNER JOIN
                      dbo.User_Rank ON dbo.Users.User_RankID = dbo.User_Rank.User_RankID
 Where  ([User_ID]= @User_ID)
GO
/****** Object:  StoredProcedure [dbo].[Users_SelectAll]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Users_SelectAll]
as
SELECT     dbo.Users.*, dbo.User_Type.User_NameType
FROM         dbo.Users INNER JOIN
                      dbo.User_Type ON dbo.Users.User_TypeID = dbo.User_Type.User_TypeID
GO
/****** Object:  StoredProcedure [dbo].[Users_KiemtraUser_Name]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Users_KiemtraUser_Name]
@User_UserName nvarchar(50)
as
Select * from Users
 Where  User_UserName= @User_UserName
GO
/****** Object:  StoredProcedure [dbo].[Users_Insert1]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Users_Insert1]
(
	@User_FullName nvarchar(MAX),
	@User_Birthday date,
	@User_Gender int,
    @User_UserName nvarchar(MAX),
    @User_PassWord nvarchar(MAX),
    @User_Address nvarchar(MAX),
    @User_Email nvarchar(MAX),
    @User_Phone nvarchar(50)
)
as
begin
	INSERT INTO [BEC].[dbo].[Users]
           (
				User_TypeID,
				User_RankID,
				User_FullName,
				User_Birthday,
				User_Gender,
				User_UserName,
				User_PassWord,
				User_Address,
				User_Email,
				User_Phone,
				User_RegisterTime,
				User_Gold,
				User_Money,
				User_Gift,
				User_Active,
				User_Status
           )
	VALUES(3,1,@User_FullName,@User_Birthday,@User_Gender,@User_UserName,@User_PassWord,@User_Address,@User_Email,@User_Phone,GETDATE(),1000,0,NULL,NULL,1)
end
GO
/****** Object:  StoredProcedure [dbo].[Users_Insert]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Users_Insert]
(
	@User_TypeID int,
	@User_RankID int,
	@User_FullName nvarchar(MAX),
	@User_Birthday date,
	@User_Gender int,
    @User_UserName nvarchar(MAX),
    @User_PassWord nvarchar(MAX),
    @User_Address nvarchar(MAX),
	@User_Xa nvarchar(MAX),
    @User_Phuong nvarchar(MAX),
    @User_ThanhPho nvarchar(MAX),
    @User_Truong nvarchar(MAX),
    @User_Lop nvarchar(MAX),
    @User_Email nvarchar(MAX),
    @User_Phone nvarchar(50),
    @User_Image nvarchar(50),
    @User_RegisterTime datetime,
    @User_Gold int,
    @User_Money int,
    @User_Gift nchar(10),
    @User_Active nvarchar(100),
    @User_Status bit,
    @User_LastEdit date
)
as
begin
	INSERT INTO [BEC].[dbo].[Users]
           (
			User_TypeID,
			User_RankID,
            User_FullName,
			User_Birthday,
			User_Gender,
           User_UserName,
           User_PassWord,
           User_Address,
           User_Xa,
           User_Phuong,
           User_ThanhPho,
           User_Truong,
           User_Lop,
           User_Email,
           User_Phone,
           User_Image,
           User_RegisterTime,
           User_Gold,
           User_Money,
           User_Gift,
           User_Active,
           User_Status,
           User_LastEdit
           )
	VALUES(@User_TypeID,@User_RankID,@User_FullName,@User_Birthday,@User_Gender,@User_UserName,@User_PassWord,@User_Address,@User_Xa,@User_Phuong,@User_ThanhPho,@User_Truong,@User_Lop,@User_Email,@User_Phone,@User_Image,@User_RegisterTime,@User_Gold,@User_Money,@User_Gift,@User_Active,@User_Status,@User_LastEdit)
end
GO
/****** Object:  StoredProcedure [dbo].[Users_Delete]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[Users_Delete]
@User_ID Int
as
Delete Users
 Where  ([User_ID]= @User_ID)
GO
/****** Object:  StoredProcedure [dbo].[Users_DangNhap]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Users_DangNhap]
@User_UserName nvarchar(50),
@User_PassWord nvarchar(50)
as
Select * from Users
 Where  (User_UserName= @User_UserName and User_PassWord = @User_PassWord)
GO
/****** Object:  Table [dbo].[Catalog]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalog](
	[Catalog_ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[User_ID] [int] NULL,
	[Catalog_Name] [nvarchar](max) NOT NULL,
	[Catalog_Super] [int] NULL,
	[Catalog_LastEdit] [datetime] NULL,
 CONSTRAINT [PK_Catalog] PRIMARY KEY CLUSTERED 
(
	[Catalog_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Catalog] ON
INSERT [dbo].[Catalog] ([Catalog_ID], [User_ID], [Catalog_Name], [Catalog_Super], [Catalog_LastEdit]) VALUES (1, 1, N'Truyện Cổ Tích', NULL, NULL)
INSERT [dbo].[Catalog] ([Catalog_ID], [User_ID], [Catalog_Name], [Catalog_Super], [Catalog_LastEdit]) VALUES (2, 1, N'Truyện Ngụ Ngôn', NULL, NULL)
INSERT [dbo].[Catalog] ([Catalog_ID], [User_ID], [Catalog_Name], [Catalog_Super], [Catalog_LastEdit]) VALUES (3, 1, N'Truyện Cười', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Catalog] OFF
/****** Object:  Table [dbo].[Blog_Status]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog_Status](
	[Status_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Status_Content] [nvarchar](max) NOT NULL,
	[Status_CreateDate] [date] NOT NULL,
	[Status_TotalLike] [int] NOT NULL,
 CONSTRAINT [PK_Blog_Status_1] PRIMARY KEY CLUSTERED 
(
	[Status_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Blog_Status] ([Status_ID], [User_ID], [Status_Content], [Status_CreateDate], [Status_TotalLike]) VALUES (1, 1, N'Trịnh Duy LOng', CAST(0xEA380B00 AS Date), 10)
/****** Object:  Table [dbo].[Game]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[Game_ID] [int] IDENTITY(1,1) NOT NULL,
	[Catalog_ID] [int] NULL,
	[Game_Name] [nvarchar](max) NULL,
	[Game_Catalog] [nvarchar](max) NULL,
	[Game_Path] [nvarchar](max) NULL,
	[Game_Status] [nvarchar](max) NULL,
	[Game_Guide] [nvarchar](max) NULL,
	[Game_TimeUp] [datetime] NULL,
	[Game_UserCreater] [int] NULL,
	[Game_Price] [int] NULL,
	[Game_TotalView] [int] NULL,
	[Game_TotalLike] [int] NULL,
	[Game_State] [bit] NULL,
	[Game_StatePrice] [bit] NULL,
	[Game_LastEdit] [datetime] NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[Game_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Game] ON
INSERT [dbo].[Game] ([Game_ID], [Catalog_ID], [Game_Name], [Game_Catalog], [Game_Path], [Game_Status], [Game_Guide], [Game_TimeUp], [Game_UserCreater], [Game_Price], [Game_TotalView], [Game_TotalLike], [Game_State], [Game_StatePrice], [Game_LastEdit]) VALUES (1, NULL, N'Caro', NULL, N'Caro.swf', N'Trò chơi Caro', NULL, CAST(0x0000A39400000000 AS DateTime), 1, 50, 13, NULL, 1, 1, CAST(0x0000A39400000000 AS DateTime))
INSERT [dbo].[Game] ([Game_ID], [Catalog_ID], [Game_Name], [Game_Catalog], [Game_Path], [Game_Status], [Game_Guide], [Game_TimeUp], [Game_UserCreater], [Game_Price], [Game_TotalView], [Game_TotalLike], [Game_State], [Game_StatePrice], [Game_LastEdit]) VALUES (2, NULL, N'Boom', NULL, N'boom.swf', N'Trò Chơi Boom', NULL, CAST(0x0000A39400000000 AS DateTime), 1, 50, 47, NULL, 1, 1, CAST(0x0000A39400000000 AS DateTime))
INSERT [dbo].[Game] ([Game_ID], [Catalog_ID], [Game_Name], [Game_Catalog], [Game_Path], [Game_Status], [Game_Guide], [Game_TimeUp], [Game_UserCreater], [Game_Price], [Game_TotalView], [Game_TotalLike], [Game_State], [Game_StatePrice], [Game_LastEdit]) VALUES (3, NULL, N'Boom Online', NULL, N'Boom offline - Boom online - Chơi game Boom - Gamedangianviet.com.swf', N'Trò Chơi Boom', NULL, CAST(0x0000A39400000000 AS DateTime), 1, 50, 53, NULL, 1, 1, CAST(0x0000A39400000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Game] OFF
/****** Object:  Table [dbo].[Friends]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friends](
	[Friends_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Friend_ID] [int] NOT NULL,
	[Friends_Status] [bit] NULL,
	[Friends_Date] [datetime] NULL,
 CONSTRAINT [PK_Friends] PRIMARY KEY CLUSTERED 
(
	[Friends_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game_player]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game_player](
	[Gamer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Game_ID] [int] NULL,
	[User_ID] [int] NULL,
	[Mark] [int] NULL,
	[Like] [bit] NULL,
	[View_Time] [datetime] NULL,
 CONSTRAINT [PK_Game_player] PRIMARY KEY CLUSTERED 
(
	[Gamer_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Game_player] ON
INSERT [dbo].[Game_player] ([Gamer_ID], [Game_ID], [User_ID], [Mark], [Like], [View_Time]) VALUES (1, 1, 1, NULL, NULL, CAST(0x0000A39400000000 AS DateTime))
INSERT [dbo].[Game_player] ([Gamer_ID], [Game_ID], [User_ID], [Mark], [Like], [View_Time]) VALUES (2, 2, 1, NULL, NULL, CAST(0x0000A39400000000 AS DateTime))
INSERT [dbo].[Game_player] ([Gamer_ID], [Game_ID], [User_ID], [Mark], [Like], [View_Time]) VALUES (3, 3, 1, NULL, NULL, CAST(0x0000A39400000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Game_player] OFF
/****** Object:  StoredProcedure [dbo].[Game_New]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Game_New]
as
Begin
	Select * From Game 
	Order by Game.Game_TimeUp DESC
End
GO
/****** Object:  StoredProcedure [dbo].[Game_Hot]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Game_Hot]
as
Begin
	Select * From Game 
	Order by Game.Game_TotalView DESC
End
GO
/****** Object:  StoredProcedure [dbo].[Game_SelectByID]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Game_SelectByID]
@ID int
AS
BEGIN
	SELECT     dbo.Game.*, dbo.Users.User_FullName
FROM         dbo.Game INNER JOIN
                      dbo.Users ON dbo.Game.Game_UserCreater = dbo.Users.User_ID
                      where Game.Game_ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateViewGame]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateViewGame]
@ID int
AS
BEGIN
	declare @Totalview int
	set @Totalview = (SELECT Game.Game_TotalView FROM Game WHERE Game.Game_ID=@ID)
	UPDATE Game 
	SET Game_TotalView = @Totalview +1
	where
	Game.Game_ID=@ID
END
GO
/****** Object:  StoredProcedure [dbo].[Catalog_SelectByID]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[Catalog_SelectByID]
@Catalog_ID Int
as
Select * from Catalog
 Where  ([Catalog_ID]= @Catalog_ID)
GO
/****** Object:  StoredProcedure [dbo].[Catalog_SelectAll_Child]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Catalog_SelectAll_Child]
@Catalog_ID int
as
Select * from Catalog
WHERE Catalog.Catalog_Super = @Catalog_ID
GO
/****** Object:  StoredProcedure [dbo].[Catalog_SelectAll_And_Child]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Catalog_SelectAll_And_Child]
as
SELECT a.Catalog_ID, a.Catalog_Name,b.Catalog_Name as Catalog_Parent
FROM Catalog a LEFT OUTER JOIN Catalog b ON b.Catalog_ID = a.Catalog_Super
GO
/****** Object:  StoredProcedure [dbo].[Catalog_SelectAll]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
CREATE PROCEDURE [dbo].[Catalog_SelectAll]
as
Select * from Catalog
WHERE Catalog.Catalog_Super IS NULL
GO
/****** Object:  StoredProcedure [dbo].[Catalog_GetDetail]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Catalog_GetDetail]
@Catalog_ID int
AS
BEGIN
	select * from Catalog where Catalog_ID= @Catalog_ID
END
GO
/****** Object:  StoredProcedure [dbo].[Catalog_Delete]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[Catalog_Delete]
@Catalog_ID Int
as
Delete Catalog
 Where  ([Catalog_ID]= @Catalog_ID)
GO
/****** Object:  Table [dbo].[Blog_Comment]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog_Comment](
	[Comment_ID] [int] NOT NULL,
	[Status_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Comment_Content] [nvarchar](max) NOT NULL,
	[Comment_CreateDate] [date] NOT NULL,
	[Comment_TotalLike] [int] NULL,
 CONSTRAINT [PK_Blog_Comment_1] PRIMARY KEY CLUSTERED 
(
	[Comment_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Blog_Comment] ([Comment_ID], [Status_ID], [User_ID], [Comment_Content], [Comment_CreateDate], [Comment_TotalLike]) VALUES (1, 1, 2, N'Trịnh Thái Sơn', CAST(0xEA380B00 AS Date), 11)
/****** Object:  Table [dbo].[Story]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story](
	[Story_ID] [int] IDENTITY(1,1) NOT NULL,
	[Catalog_ID] [int] NOT NULL,
	[Story_Name] [nvarchar](max) NOT NULL,
	[Story_Catalog] [nvarchar](max) NOT NULL,
	[Story_SoundTrack] [nvarchar](max) NULL,
	[Story_Status] [nvarchar](max) NOT NULL,
	[Story_TimeUp] [datetime] NOT NULL,
	[Story_Creater] [int] NULL,
	[Story_Price] [int] NOT NULL,
	[Story_TotalView] [int] NULL,
	[Story_State] [bit] NULL,
	[Story_StatePrice] [bit] NULL,
	[Story_LastEdit] [datetime] NULL,
 CONSTRAINT [PK_Story] PRIMARY KEY CLUSTERED 
(
	[Story_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Story] ON
INSERT [dbo].[Story] ([Story_ID], [Catalog_ID], [Story_Name], [Story_Catalog], [Story_SoundTrack], [Story_Status], [Story_TimeUp], [Story_Creater], [Story_Price], [Story_TotalView], [Story_State], [Story_StatePrice], [Story_LastEdit]) VALUES (1, 1, N'Edison Ấp Trứng Gà', N'bia edison.jpg', N'UThiYeuYesItSLove-TangNhatTue.mp3', N'Edison Ấp Trứng Gà', CAST(0x0000A38B00000000 AS DateTime), 1, 10, 24, 1, 0, CAST(0x0000A39D00F74658 AS DateTime))
INSERT [dbo].[Story] ([Story_ID], [Catalog_ID], [Story_Name], [Story_Catalog], [Story_SoundTrack], [Story_Status], [Story_TimeUp], [Story_Creater], [Story_Price], [Story_TotalView], [Story_State], [Story_StatePrice], [Story_LastEdit]) VALUES (5, 2, N'Chú Vịt Xám', N'bia vit xam.jpg', N'Hopeful.mp3', N'Chú Vịt Xám', CAST(0x0000A38A00000000 AS DateTime), 1, 10, 11, 1, 0, NULL)
INSERT [dbo].[Story] ([Story_ID], [Catalog_ID], [Story_Name], [Story_Catalog], [Story_SoundTrack], [Story_Status], [Story_TimeUp], [Story_Creater], [Story_Price], [Story_TotalView], [Story_State], [Story_StatePrice], [Story_LastEdit]) VALUES (7, 3, N'Lừa Đội Lốt Sư Tử', N'bia lua doi lot su tu.jpg', N'LuaDoilotsutusoundTrack.mp3', N'Lừa Đội Lốt Sư Tử', CAST(0x0000A38C00000000 AS DateTime), 1, 20, 7, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Story] OFF
/****** Object:  StoredProcedure [dbo].[gamer_view]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[gamer_view]
(@User_ID int)
AS
BEGIN
SELECT     dbo.Game_player.*, dbo.Game.*
FROM         dbo.Game_player INNER JOIN
                      dbo.Game ON dbo.Game_player.Game_ID = dbo.Game.Game_ID
                      WHERE Game_player.User_ID= @User_ID
                      order by dbo.Game_player.View_Time Desc
 END
GO
/****** Object:  Table [dbo].[Story_Page]    Script Date: 09/10/2014 21:33:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story_Page](
	[Page_ID] [int] IDENTITY(1,1) NOT NULL,
	[Story_ID] [int] NOT NULL,
	[Page_ImagePath] [nvarchar](max) NOT NULL,
	[Page_Audio] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Story_Page] PRIMARY KEY CLUSTERED 
(
	[Page_ID] ASC,
	[Story_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Story_Page] ON
INSERT [dbo].[Story_Page] ([Page_ID], [Story_ID], [Page_ImagePath], [Page_Audio]) VALUES (1, 1, N'edison1.jpg', N'trang1.mp3')
INSERT [dbo].[Story_Page] ([Page_ID], [Story_ID], [Page_ImagePath], [Page_Audio]) VALUES (2, 1, N'edison2.jpg', N'trang2.mp3')
INSERT [dbo].[Story_Page] ([Page_ID], [Story_ID], [Page_ImagePath], [Page_Audio]) VALUES (3, 1, N'edison3.jpg', N'trang3.mp3')
SET IDENTITY_INSERT [dbo].[Story_Page] OFF
/****** Object:  StoredProcedure [dbo].[Story_New]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Story_New]
as
begin
SELECT top 10 * From Story 
WHERE Story.Story_State = 1
order by Story.Story_TimeUp DESC
end
GO
/****** Object:  StoredProcedure [dbo].[Story_Insert]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Story_Insert]
(
           @Catalog_ID int,
           @Story_Name nvarchar(max),
           @Story_Catalog nvarchar(max),
           @Story_SoundTrack nvarchar(max),
           @Story_Status nvarchar(max),
           @Story_TimeUp datetime,
           @Story_Creater int,
           @Story_Price int,
           @Story_TotalView int,
           @Story_State bit,
           @Story_StatePrice bit,
           @Story_LastEdit datetime
)
AS
BEGIN

INSERT INTO [BEC].[dbo].[Story]
           (
            [Catalog_ID]
           ,[Story_Name]
           ,[Story_Catalog]
           ,[Story_SoundTrack]
           ,[Story_Status]
           ,[Story_TimeUp]
           ,[Story_Creater]
           ,[Story_Price]
           ,[Story_TotalView]
           ,[Story_State]
           ,[Story_StatePrice]
           ,[Story_LastEdit])
     VALUES
     (
		   @Catalog_ID,       
           @Story_Name,
           @Story_Catalog,
           @Story_SoundTrack ,
           @Story_Status ,
           @Story_TimeUp ,
           @Story_Creater ,
           @Story_Price ,
           @Story_TotalView ,
           @Story_State ,
           @Story_StatePrice ,
           @Story_LastEdit 
     )
     declare @ID AS INT
     SET @ID = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[Story_GetAllByCatalogID]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Story_GetAllByCatalogID]
	(
@Catalog_ID int
)
AS
BEGIN
	Select * From Story
where Story.Catalog_ID=@Catalog_ID
END
GO
/****** Object:  StoredProcedure [dbo].[Story_Delete]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[Story_Delete]
@Story_ID Int
as
Delete Story
 Where  ([Story_ID]= @Story_ID)
GO
/****** Object:  Table [dbo].[Story_View]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story_View](
	[Story_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[View] [int] NULL,
	[Like] [int] NULL,
	[View_Time] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Story_View] ([Story_ID], [User_ID], [View], [Like], [View_Time]) VALUES (1, 1, 0, 0, CAST(0x0000A38A00000000 AS DateTime))
INSERT [dbo].[Story_View] ([Story_ID], [User_ID], [View], [Like], [View_Time]) VALUES (1, 2, NULL, NULL, CAST(0x0000A3A001829EBD AS DateTime))
INSERT [dbo].[Story_View] ([Story_ID], [User_ID], [View], [Like], [View_Time]) VALUES (5, 1, 0, 0, CAST(0x0000A38A00000000 AS DateTime))
/****** Object:  StoredProcedure [dbo].[Story_TopRead]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Story_TopRead]
as
begin
SELECT top 10 * From Story 
WHERE Story.Story_State = 1
order by Story.Story_TotalView DESC
end
GO
/****** Object:  StoredProcedure [dbo].[Story_SelectByID]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[Story_SelectByID]
@Story_ID Int
as
Select * from Story
 Where  ([Story_ID]= @Story_ID)
GO
/****** Object:  StoredProcedure [dbo].[Story_SelectAll]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
CREATE PROCEDURE [dbo].[Story_SelectAll]
as
SELECT     dbo.Story.Story_ID, dbo.Catalog.Catalog_Name, dbo.Story.Story_Name, dbo.Story.Story_Catalog, dbo.Story.Story_SoundTrack, dbo.Story.Story_Status, 
                      dbo.Story.Story_TimeUp, dbo.Story.Story_Price, dbo.Story.Story_TotalView, dbo.Story.Story_State, dbo.Story.Story_StatePrice, dbo.Story.Story_LastEdit, 
                      dbo.Users.User_FullName
FROM         dbo.Story INNER JOIN
                      dbo.Catalog ON dbo.Story.Catalog_ID = dbo.Catalog.Catalog_ID INNER JOIN
                      dbo.Users ON dbo.Story.Story_Creater = dbo.Users.User_ID
GO
/****** Object:  StoredProcedure [dbo].[UpdateView]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateView]
@Story_ID int
AS
BEGIN
	declare @Totalview int
	set @Totalview = (SELECT Story.Story_TotalView FROM Story WHERE Story.Story_ID=@Story_ID)
	UPDATE Story 
	SET Story_TotalView = @Totalview +1
	where
	Story.Story_ID=@Story_ID
END
GO
/****** Object:  StoredProcedure [dbo].[Game_Player_Kiemtratrung]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Game_Player_Kiemtratrung]
(
	@Game_ID int,
	@User_ID int
	
)
As
BEGIN
	Select * From Game_player where Game_ID = @Game_ID and USER_ID=@User_ID
END
GO
/****** Object:  StoredProcedure [dbo].[Game_Player_Insert]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Game_Player_Insert]
(
	@Game_ID int,
	@User_ID int
	
)
As
BEGIN
	INSERT INTO Game_player(Game_ID,User_ID,View_Time)
	VALUES(@Game_ID,@User_ID,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[User_ReadStory]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[User_ReadStory]
@User_ID int
AS
BEGIN
SELECT     dbo.Story_View.View_Time, dbo.Story_View.User_ID, dbo.Story.Story_ID, dbo.Story.Catalog_ID, dbo.Story.Story_Name, dbo.Story.Story_Catalog, dbo.Story.Story_Status, 
                      dbo.Story.Story_TotalView
FROM         dbo.Story INNER JOIN
                      dbo.Story_View ON dbo.Story.Story_ID = dbo.Story_View.Story_ID
WHERE Story_View.User_ID= @User_ID and Story.Story_State='1'
order by dbo.Story_View.View_Time Desc
END
GO
/****** Object:  StoredProcedure [dbo].[Story_View_Update]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[Story_View_Update]
@Story_ID Int,
@User_ID Int,
@View Int,
@Like Int,
@View_Time DateTime
as
Update Story_View Set
 [View]= @View,[Like]= @Like,[View_Time]= @View_Time
 Where ([Story_ID]= @Story_ID) and([User_ID]= @User_ID)
GO
/****** Object:  StoredProcedure [dbo].[Story_View_SelectByID]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[Story_View_SelectByID]
@Story_ID Int,
@User_ID Int
as
Select * from Story_View
 Where  ([Story_ID]= @Story_ID) and ([User_ID]= @User_ID)
GO
/****** Object:  StoredProcedure [dbo].[Story_View_SelectAll]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[Story_View_SelectAll]
as
Select * from Story_View
GO
/****** Object:  StoredProcedure [dbo].[Story_View_Kiemtratrung]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[Story_View_Kiemtratrung]
(
	@Story_ID int,
	@User_ID int
	
)
As
BEGIN
	Select * From Story_View where Story_ID = @Story_ID and USER_ID=@User_ID
END
GO
/****** Object:  StoredProcedure [dbo].[Story_View_Insert]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Story_View_Insert]
(
	@Story_ID int,
	@User_ID int
	
)
As
BEGIN
	INSERT INTO Story_View(Story_ID,User_ID,View_Time)
	VALUES(@Story_ID,@User_ID,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[Story_View_Delete]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[Story_View_Delete]
@Story_ID Int,
@User_ID Int
as
Delete Story_View
 Where  ([Story_ID]= @Story_ID) and ([User_ID]= @User_ID)
GO
/****** Object:  StoredProcedure [dbo].[Story_Page_SelectByID]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[Story_Page_SelectByID]
@Page_ID Int
as
Select * from Story_Page
 Where  ([Page_ID]= @Page_ID)
GO
/****** Object:  StoredProcedure [dbo].[Story_Page_SelectAll]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[Story_Page_SelectAll]
as
Select * from Story_Page
GO
/****** Object:  StoredProcedure [dbo].[Story_Page_Delete]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DevNETCoder v3.0 
--CopyRight By DevNET Group
Create PROCEDURE [dbo].[Story_Page_Delete]
@Page_ID Int
as
Delete Story_Page
 Where  ([Page_ID]= @Page_ID)
GO
/****** Object:  StoredProcedure [dbo].[Read_Story]    Script Date: 09/10/2014 21:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Read_Story]
@Story_ID int
as
begin
SELECT     dbo.Story_Page.*, dbo.Story.Story_Catalog
FROM         dbo.Story INNER JOIN
                      dbo.Catalog ON dbo.Story.Catalog_ID = dbo.Catalog.Catalog_ID INNER JOIN
                      dbo.Story_Page ON dbo.Story.Story_ID = dbo.Story_Page.Story_ID INNER JOIN
                      dbo.Story_View ON dbo.Story.Story_ID = dbo.Story_View.Story_ID
where Story_Page.Story_ID = @Story_ID
end
GO
/****** Object:  ForeignKey [FK_User_User_Rank]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_User_Rank] FOREIGN KEY([User_RankID])
REFERENCES [dbo].[User_Rank] ([User_RankID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_User_Rank]
GO
/****** Object:  ForeignKey [FK_User_User_Type]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_User_Type] FOREIGN KEY([User_TypeID])
REFERENCES [dbo].[User_Type] ([User_TypeID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_User_Type]
GO
/****** Object:  ForeignKey [FK_Catalog_Catalog]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Catalog]  WITH CHECK ADD  CONSTRAINT [FK_Catalog_Catalog] FOREIGN KEY([Catalog_Super])
REFERENCES [dbo].[Catalog] ([Catalog_ID])
GO
ALTER TABLE [dbo].[Catalog] CHECK CONSTRAINT [FK_Catalog_Catalog]
GO
/****** Object:  ForeignKey [FK_Catalog_Users]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Catalog]  WITH CHECK ADD  CONSTRAINT [FK_Catalog_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Catalog] CHECK CONSTRAINT [FK_Catalog_Users]
GO
/****** Object:  ForeignKey [FK_Blog_Status_Users]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Blog_Status]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Status_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Blog_Status] CHECK CONSTRAINT [FK_Blog_Status_Users]
GO
/****** Object:  ForeignKey [FK_Game_Users]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Users] FOREIGN KEY([Game_UserCreater])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Users]
GO
/****** Object:  ForeignKey [FK_Friends_Users]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD  CONSTRAINT [FK_Friends_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Friends] CHECK CONSTRAINT [FK_Friends_Users]
GO
/****** Object:  ForeignKey [FK_Friends_Users1]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD  CONSTRAINT [FK_Friends_Users1] FOREIGN KEY([Friend_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Friends] CHECK CONSTRAINT [FK_Friends_Users1]
GO
/****** Object:  ForeignKey [FK_Game_player_Game]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Game_player]  WITH CHECK ADD  CONSTRAINT [FK_Game_player_Game] FOREIGN KEY([Game_ID])
REFERENCES [dbo].[Game] ([Game_ID])
GO
ALTER TABLE [dbo].[Game_player] CHECK CONSTRAINT [FK_Game_player_Game]
GO
/****** Object:  ForeignKey [FK_Game_player_Users]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Game_player]  WITH CHECK ADD  CONSTRAINT [FK_Game_player_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Game_player] CHECK CONSTRAINT [FK_Game_player_Users]
GO
/****** Object:  ForeignKey [FK_Blog_Comment_Blog_Status]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Blog_Comment]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Comment_Blog_Status] FOREIGN KEY([Status_ID])
REFERENCES [dbo].[Blog_Status] ([Status_ID])
GO
ALTER TABLE [dbo].[Blog_Comment] CHECK CONSTRAINT [FK_Blog_Comment_Blog_Status]
GO
/****** Object:  ForeignKey [FK_Blog_Comment_Users]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Blog_Comment]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Comment_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Blog_Comment] CHECK CONSTRAINT [FK_Blog_Comment_Users]
GO
/****** Object:  ForeignKey [FK_Story_Catalog]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Story]  WITH CHECK ADD  CONSTRAINT [FK_Story_Catalog] FOREIGN KEY([Catalog_ID])
REFERENCES [dbo].[Catalog] ([Catalog_ID])
GO
ALTER TABLE [dbo].[Story] CHECK CONSTRAINT [FK_Story_Catalog]
GO
/****** Object:  ForeignKey [FK_Story_Users]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Story]  WITH CHECK ADD  CONSTRAINT [FK_Story_Users] FOREIGN KEY([Story_Creater])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Story] CHECK CONSTRAINT [FK_Story_Users]
GO
/****** Object:  ForeignKey [FK_Story_Page_Story]    Script Date: 09/10/2014 21:33:56 ******/
ALTER TABLE [dbo].[Story_Page]  WITH CHECK ADD  CONSTRAINT [FK_Story_Page_Story] FOREIGN KEY([Story_ID])
REFERENCES [dbo].[Story] ([Story_ID])
GO
ALTER TABLE [dbo].[Story_Page] CHECK CONSTRAINT [FK_Story_Page_Story]
GO
/****** Object:  ForeignKey [FK_Story_View_Story]    Script Date: 09/10/2014 21:33:57 ******/
ALTER TABLE [dbo].[Story_View]  WITH CHECK ADD  CONSTRAINT [FK_Story_View_Story] FOREIGN KEY([Story_ID])
REFERENCES [dbo].[Story] ([Story_ID])
GO
ALTER TABLE [dbo].[Story_View] CHECK CONSTRAINT [FK_Story_View_Story]
GO
/****** Object:  ForeignKey [FK_Story_View_User]    Script Date: 09/10/2014 21:33:57 ******/
ALTER TABLE [dbo].[Story_View]  WITH CHECK ADD  CONSTRAINT [FK_Story_View_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Story_View] CHECK CONSTRAINT [FK_Story_View_User]
GO
Create Trigger [dbo].[Ranks]
on [dbo].[Users]
After Update,insert
as
begin 
	declare @gold int,@User_ID int
	set @User_ID = (Select inserted.User_ID from inserted)
	set @gold = (select User_Gold from inserted where USER_ID= @User_ID)
	if(@gold<=1000)
	update Users set Users.User_RankID=1 where USER_ID= @User_ID
	else
		if(@gold>1000 and @gold<=10000)
			update Users set Users.User_RankID=2 where USER_ID= @User_ID
		else
			if(@gold>10000)
				update Users set Users.User_RankID=3 where USER_ID= @User_ID
end